.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 50;
  border-bottom: 1px solid #eee;
}

.content {
  display: flex;
  flex: 1;

  height: calc(100vh - 64px);
}

.sidebar {
  width: 400px;
  background-color: white;
  border-left: 1px solid #eee;

  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 40;

}

.left {
  order: 0;
  border-right: 1px solid #eee;
  border-left: none;
}

.rightSidebar {
  order: 2;
  border-left: 1px solid #eee;
}

.main {
  flex: 1;
  overflow-y: auto;
  background-color: rgba(139, 186, 255, 0.1);
}