
@use '../../../styles/variables.scss' as *;

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: inherit;

  &.focused {
    .input {
      border-color: #0070f3;
      box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
    }
  }

  &.error {
    .input {
      border-color: #e63946;
      background-color: #fff5f5;
    }

    .errorMessage {
      color: #e63946;
      font-size: 0.75rem;
      margin-top: 4px;
      position: absolute;
      bottom: -1.2rem;
      left: 0;
    }
  }
}

.icon {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  pointer-events: none;

  svg {
    width: 20px;
    height: 20px;
    color: #999;
  }
}

.input,
.selectWrapper select {
  width: 100%;
  padding: 1rem 12px;
  padding-left: 40px; // space for icon
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: #fff;
  outline: none;
  transition: all 0.2s ease;
  text-decoration: none;
  appearance: none;

  &:focus {
    border-color: #0070f3;
    box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
  }

  &::placeholder {
    color: #aaa;
  }
  option {
    color: #222;
    background: #fff;
    font-size: 1rem;
    font-family: inherit;
  }
}

.errorMessage {
  margin-top: 4px;
  font-size: 0.75rem;
}

