.avatarWrapper {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  border: 1.5px solid #eee;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}